
        .header-fullength{
            background: url("../images/background.jpg") no-repeat top left;
            height:800px; 
        }
        .slider{
            top:385px;
            left: 100px;
            position: absolute;
            color: yellow;
            font-family: 'Times New Roman', Times, serif;
            font-size: smaller;
            cursor: pointer;
        }
        
        .slider:after{
            content : ' \2192';
            color: yellow;
        }
        .slider:before{
            content : ' \2190';
            color: yellow;
        }
        .box{
            top:300px;
            right: 100px;
            position: absolute;
            border: 10px solid yellow;
            width:240px;
            height:240px;
        }
        .box1{
            position: absolute;
            bottom: 100px;
            background-color: #001c37;
            margin-left :-60px;
        }
        .box1-header{
            font-family: 'Montserrat', sans-serif;
            font-size: x-large;
            font-weight: bold;
            color: white;
        }

        .box2{
            position: absolute;
            bottom: 40px;
            background-color: #001c37;
            margin-left :-60px;
        }
        .box2-header a{
            font-family: 'Montserrat', sans-serif;
            font-size: small;
            font-weight: bold;
            color: yellow;
        }
        .box2-header a:hover{
            color: black;
        }
        .header-wrapper{
            width: 1170px;
            overflow: hidden;
            margin:0 auto;
            background-color: #001c37;
            position: relative;
        }
        .header-logo{
            float:left;
            background: url("../images/c.jpg") no-repeat;
            width:300px;
            padding:30px;
            margin-top: 15px;
        }
        .header-text{
            float:right;
        }

        .header-text li{
            display: inline-block;
            padding-right:10px;
        }
        .header-text a{
            padding: 15px 0;
            text-decoration: none;
            font-family:  'Montserrat', sans-serif;
            font-weight: bold;
            color: #ffffff;
        }
        .header-text a:hover{
            color: black;
        }
        img{
            margin-top: 10px;
            cursor: pointer;
        }



        .s1-fullength{
        
            background-color: #ffffff;
            height: 524px;
        }
        .s1-wrapper{
        
            
            width:1170px;
            margin:0 auto;
        }
        .s1-text{
        
            float:left;
            width:523px;
            padding: 100px 77px 100px 0;
            height: 324px;
        }
        .heading1{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: xx-large;
            color: #003366;
        }
        .heading2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #cccccc;
            padding-top:45px;
            font-size: small;
        }
        .heading3{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #999999;
            padding-top:45px;
            font-size: smaller;
        }
        .heading4{
            padding-top: 45px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: small;    
        }
        .heading4 a{
            color: #003366;
        }
        .heading4 a:hover{
            color: black;
        }

        .s1-image{
            
            background: url("../images/photo1.jpg") no-repeat;
            float: right;
            width:570px;
            height: 524px;
        }




        .s2-fullength{
            background: whitesmoke;
            height: 686px;
        }
        .s2-wrapper{
            background: yellow; 
            
            width:1170px;
            margin:0 auto;
        }
        .s2-image{
            
            background: url("../images/photo2.jpg") no-repeat;
            background-size: auto;
            float: left;
            width:600px;
            /* padding:100px 0;  */
            margin-top: 100px;
            /* margin-bottom: 50px; */
            height: 484px;
        }

        .s2-text{
            background: whitesmoke;
            float:right;
            width:530px;
            padding: 100px 40px 100px 0;
            height: 484px;
        }




        .s3-fullength{
            background: #003366;
            overflow: hidden;
            /* height: 50px; */
        }
        .s3-wrapper{
            background: yellow;
            width:1170px;
            margin:0 auto;
        }
        .s3-text{
            float: left;
            /* background: red; */
            padding: 30px 0; 
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            color: white;
            cursor: pointer;
        }
        .s3-text p:hover{
            color: black;
        }
        .s3-btn{
            float: right;
            /* background: pink; */
            margin: 25px 0;
        }
        .s3-btn button{
            padding:5px;
            background-color: yellow;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: #003366;
            border-radius: 4px;

            border: none;

            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }
        .s3-btn button:hover{
            color: black;
        }




        .s4-fullength{
            /* background: black; */
            background:#ffffff;
            /* height: 500px;   668 */
        } 
        .s4-wrapper{
            background: yellow; 
            width:1170px;
            margin:0 auto;
        }
        .s4-text{
            background-color:#ffffff;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .s4-text .heading1{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: x-large;
            padding-top:80px;   
        }
        .s4-text .heading2{
        
            padding:20px 350px 25px 350px;
        }
        .s4-image{
            /* background-color: blue; */
            background-color: #ffffff;
            overflow: hidden;
        }
        .image1{
            float:left;
            background: #ffffff;
            width:370px;
        }
        .image1-bgcolor{
            background-color: #66ccff;
            height:150px;
        }
        .image1-text .heading2{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: small;
            color: #003366;
        }
        .image1-text .heading3{
            /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: smaller; */
            padding:20px 0 60px 0;
        }

        .image2{
            float:left;
            /* background: brown; */
            margin: 0px 30px;
            width:370px;
        }
        .image2-bgcolor{
            background-color: #99cc66;
            height:150px;
        }

        .image3{
            float:left;
            /* background: orange; */
            width:370px;
        }
        .image3-bgcolor{
            background-color: #ff9966;
            height:150px;
        }

        .s5-fullength{
            background: #003366;
        }
        .s5-wrapper{
            /* background: red; */
            width:1170px;
            margin: 0 auto;
            overflow: hidden;
            padding:80px 0;
            
        }
        .s5-wrapper1{
            float: left;
            text-align: center;
            padding:0 80px 0 130px;
            color: #ffffff;
        }
        .s5-wrapper1-heading1{
            font-family: 'Montserrat', sans-serif;
            font-size: x-large;

        }
        .s5-wrapper1-heading2{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-small;
            padding-top: 5px;
        }





        .s6-fullength{
            background: #ffffff;
            height: 524px;
        }
        .s6-wrapper{
            background: yellow;
            
            width:1170px;
            margin:0 auto;
        }
        .s6-image{
            
            /* background-color: red; */
            background: url("../images/photo3.jpg") no-repeat;
            float: left;
            width:570px;
            height: 524px;
        }
        .s6-text{
            background:green;
            background: #ffffff;
            float:right;
            width:523px;
            padding: 100px 77px 100px 0;
            height: 324px;
        }



        .s7-fullength{
            background: #003333;
        }
        .s7-wrapper{
            /* background: yellow; */
            width:1130px;
            margin:0 auto;
            text-align: center;
            padding:60px 20px;
            color: #ffffff;
            
        }
        .s7-wrapper-heading1{
            font-family: "Arial, Helvetica, sans-serif";
            font-size: 40px;
        }
        .s7-wrapper-heading2{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: small;
        padding:0 40px 30px 40px;
        }
        .s7-wrapper-heading3{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: smaller;
        }




        .s8-bgcolor1{
            background: url("../images/location1.jpg") no-repeat;
            padding:130px 0;
        }
        .s8-bgcolor2{
            background: url("../images/location2.jpg") no-repeat;
            padding:130px 0;
        }
        .s8-bgcolor3{
            background: url("../images/location3.jpg") no-repeat;
            padding:130px 0;
        }
        .s8-text .heading2{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: small;
            color:#003366;
            padding-top: 5px;
            padding-bottom: 10px;
        }
        .s8-text{
            padding-left:20px;
            padding-bottom: 50px;
        }
        .s8-text .heading3{
            padding-top: 12px;
            color: #003366;
        }
        .logo1{
            background: url("../images/location.jpg") no-repeat top left;
            padding:0 12px;
        }
        .logo2{
            background: url("../images/phone.jpg") no-repeat top left;
            padding:0 12px;
        }
        .logo3{
            background: url("../images/email.png") no-repeat top left;
            padding:0 12px;
        }
        .spacing{
            padding-left:26px;
        }





        .footer-fullength{
            background: #003366;
        }
        .footer-wrapper{
            /* background: red; */
            width:1170px;
            margin: 0 auto;
            overflow: hidden;
        }
        .footer-text{
            float: left;
            /* background: brown; */
        }
        .footer-text1{
            font-family: 'Montserrat', sans-serif;
            font-size: small;
            padding:20px 0;
            color: #ffffff;
        }
        .footer-icon{
            float: right;
            /* background:green; */
            padding:19px 0;
        }
        .yellow{
            color:yellow;
        }
        .fb{
            background: url("../images/fb.jpg") no-repeat top left;
            padding:0 12px;
            cursor: pointer;
        }
        .google{
            background: url("../images/google.jpg") no-repeat top left;
            padding:0 12px;
            cursor: pointer;
        }
        .twitter{
            background: url("../images/twitter.jpg") no-repeat top left;
            padding:0 12px;
            cursor: pointer;
        }
        .insta{
            background: url("../images/insta.png") no-repeat top left;
            padding:0 12px;
            cursor: pointer;
        }





