@media screen and (min-width:350px){
.header-fullength{
    width: 100%;
}
.s1-fullength{
    width: 100%;
    clear: both;
}
.s2-fullength{
    width: 100%;
    
}
.s3-fullength{
    width: 100%;
}
.s4-fullength{
    width: 100%;
}
.s5-fullength{
    width: 100%;
}
}

